:root {
	/* Fonts */
	--font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	/* Size & line-height */
	--text-xs: 0.75rem;
	--text-xs--line-height: calc(1 / 0.75);
	--text-sm: 0.875rem;
	--text-sm--line-height: calc(1.25 / 0.875);
	--text-base: 1rem;
	--text-base--line-height: 1.5;
	--text-lg: 1.125rem;
	--text-lg--line-height: calc(1.75 / 1.125);
	--text-xl: 1.25rem;
	--text-xl--line-height: calc(1.75 / 1.25);
	--text-2xl: 1.5rem;
	--text-2xl--line-height: calc(2 / 1.5);
	--text-3xl: 1.875rem;
	--text-3xl--line-height: 1.2;
	--text-4xl: 2.25rem;
	--text-4xl--line-height: calc(2.5 / 2.25);

	/* Font weight */
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* Letter spacing & leading */
	--tracking-tight: -0.025em;
	--tracking-wide: 0.025em;
	--tracking-widest: 0.1em;
	--leading-relaxed: 1.625;

	/* Defaults */
	--default-font-family: var(--font-sans);
	--default-mono-font-family: var(--font-mono);
}
