:root {
	--color-primary: #ff5c00;
	--color-primary-hover: #e65300;
	--color-footer-bg: #0b1426;
	--color-text-muted: #6b7280;
	--color-cart-badge: #ef4444;


	--color-red-600: oklch(57.7% .245 27.325);
	--color-red-700: oklch(50.5% .213 27.518);
	--color-orange-50: oklch(98% .016 73.684);
	--color-orange-500: oklch(70.5% .213 47.604);
	--color-orange-600: oklch(64.6% .222 41.116);
	--color-orange-700: oklch(55.3% .195 38.402);
	--color-yellow-400: oklch(85.2% .199 91.936);
	--color-green-600: oklch(62.7% .194 149.214);
	--color-gray-50: oklch(98.5% .002 247.839);
	--color-gray-100: oklch(96.7% .003 264.542);
	--color-gray-200: oklch(92.8% .006 264.531);
	--color-gray-300: oklch(87.2% .01 258.338);
	--color-gray-400: oklch(70.7% .022 261.325);
	--color-gray-500: oklch(55.1% .027 264.364);
	--color-gray-600: oklch(44.6% .03 256.802);
	--color-gray-700: oklch(37.3% .034 259.733);
	--color-gray-800: oklch(27.8% .033 256.848);
	--color-gray-900: oklch(21% .034 264.665);
	--color-black: #000;
	--color-white: #fff;

	--foreground: #0a0a0a;

	--spacing: 0.25rem;
	--container-sm: 24rem;
	--container-md: 28rem;
	--container-lg: 32rem;
	--container-7xl: 80rem;


	--radius-xs: 0.125rem;
	--ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	--animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	--aspect-video: 16 / 9;
	--default-transition-duration: 0.15s;
	--default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	--color-border: var(--color-gray-200);

	--color-orange-600: var(--color-primary);
	--color-orange-700: var(--color-primary-hover);
}
