:root {
	--color-primary: #ff5c00;
	--color-primary-hover: #e65300;
	--color-footer-bg: #0b1426;
	--color-text-muted: #6b7280;
	--color-cart-badge: #ef4444;


	--color-red-600: #e7000a;
	--color-red-700: #c10007;
	--color-orange-50: #fff7ec;
	--color-orange-500: #ff6800;
	--color-orange-600: #f44900;
	--color-orange-700: #c93400;
	--color-yellow-400: #fdc700;
	--color-green-600: #00a63d;
	--color-gray-50: #f8fafb;
	--color-gray-100: #f2f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d0d5db;
	--color-gray-400: #99a1ae;
	--color-gray-500: #697282;
	--color-gray-600: #495565;
	--color-gray-700: #354152;
	--color-gray-800: #1d2838;
	--color-gray-900: #101727;
	--color-black: #000;
	--color-white: #fff;

	--foreground: #0a0a0a;

	--spacing: 0.25rem;
	--container-sm: 24rem;
	--container-md: 28rem;
	--container-lg: 32rem;
	--container-7xl: 80rem;


	--radius-xs: 0.125rem;
	--ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	--animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	--aspect-video: 16 / 9;
	--default-transition-duration: 0.15s;
	--default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	--color-border: var(--color-gray-200);

	--color-orange-600: var(--color-primary);
	--color-orange-700: var(--color-primary-hover);
}
